app-form-tags-field {
  input {
    border-bottom-left-radius: 30rem !important;
    border-top-left-radius: 30rem !important;
  }

  .input-group > button {
    border-bottom-right-radius: 30rem !important;
    border-top-right-radius: 30rem !important;
  }
}
