:root {
  --app-card-shadow: #{$box-shadow};
}

body {
  background-color: rgba($primary, 0.05);
}

.navbar-dark .navbar-nav .nav-link.active {
  font-weight: 500;
}

.form-control[readonly] {
  background-color: $input-bg;
}

.input-group.has-validation {
  button {
    border-bottom-right-radius: $border-radius !important;
    border-top-right-radius: $border-radius !important;
  }
}
