:root {
  --app-card-shadow: #{$box-shadow};
}

body {
  background-color: rgba($primary, 0.05);
}

.navbar-dark .navbar-nav .nav-link.active {
  font-weight: 500;
}

.form-control[readonly] {
  background-color: $input-bg;
}

/* TODO: Temporary workaround for https://github.com/twbs/icons/issues/921 */
svg.bi {
  vertical-align: -0.125em;
}
