// Use this file to override bootstrap's built-in custom variables.

$primary: #6f42c1;
$secondary: #e9ecef;

$btn-white-space: nowrap;

$btn-border-radius: 50rem;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;

$input-btn-padding-x: 1.5rem;
$input-btn-padding-x-sm: $input-btn-padding-x;
$input-btn-padding-x-lg: $input-btn-padding-x;
