.card.app-detail-card {
  width: 30rem;
}

.card.app-detail-card img {
  align-self: center;
  padding: 1rem;
  height: 20rem;
}

.card.app-detail-card .card-title {
  white-space: nowrap;
}

.card.app-detail-card .card-text {
  white-space: pre-wrap;
}
