.card {
  &.app-counter-card {
    width: 30rem;

    .btn {
      padding: 0;
      margin-right: 1rem;
    }

    svg {
      width: 2em;
      height: 2em;
      vertical-align: middle;
    }
  }
}
