.card {
  &.app-detail-card {
    max-width: 30rem;

    img {
      align-self: center;
      padding: 1rem;
      height: 20rem;
    }

    .card-title {
      white-space: nowrap;
    }

    .card-text {
      white-space: pre-wrap;
    }

    .app-detail-card__btn-homepage {
      svg {
        margin-left: 4px;
        vertical-align: text-top;
      }
    }

    .app-detail-card__btn-back {
      float: right;

      svg {
        vertical-align: text-bottom;
      }
    }
  }
}
