.card.app-browse-card {
  text-decoration: none;
  color: inherit;
}

.card.app-browse-card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card.app-browse-card img {
  object-fit: contain;
}
