.app-detail-card.card {
  max-width: 30rem;

  img {
    align-self: center;
    padding: 1rem;
    height: 20rem;
    object-fit: contain;
  }

  .card-title {
    white-space: nowrap;
  }

  .card-text {
    white-space: pre-wrap;
  }
}
