.app-browse-card.card {
  text-decoration: none;
  color: inherit;

  &:hover {
    box-shadow: var(--app-card-shadow);
  }

  .card-title {
    white-space: nowrap;
  }

  img {
    object-fit: contain;
  }
}
