app-toast {
  z-index: 1080;

  .toast {
    min-width: 15rem;
    max-width: 25rem;
    background-color: #ffffff;

    .toast-header {
      border-bottom: none;
    }

    .toast-body {
      font-size: 1rem;
      white-space: break-spaces;
    }
  }
}
