/* Add bootstrap variable overrides here */

/* Custom global styles */

:root {
  --app-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.bi {
  display: inline-block;
  vertical-align: text-bottom;
}
